.DS_Store
*.aux
*.log
*.maf
*.mtc
*.mtc0
*.gz
.#
_region_.tex
.#*
*.toc
*.bbl
*.blg
*(busy)
*.dvi
*.fdb_latexmk
*.fls
*.pyg
*.d
*.so
*ACLiC*
*.pdfsync
*.ai
*.psd
*-eps-converted-to.pdf
thesis.pdf
*/part_wrapper.pdf
*.lof
*.lot
